# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce basic arithmetic expressions in Python.
- Demonstrate how to convert minutes to hours using Python.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. **Numby**
2. **Pandas**
3. **Matplotlib**

| Data Science Tools |
| ------------------- |
| Jupyternotebook |
| Visual Studio Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [2]:
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Gaohaer